.container{
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    min-height: 70vh;
    max-height: 70vh;
    max-width: 90%;
    text-align: center;
    color: white;
    padding:5px;
    width: 100%;
    margin: 10% 5%;
}